<div class="row mt-3">
  <div *ngIf="wishes && wishes.length === 0; else showItems">
    There are no items in your list
  </div>

  <ng-template #showItems>
    <ul class="wish-list">
      <li *ngFor="let wish of wishes">
        <div class="form-check">
          <label class="form-check-label">
            <input class="checkbox" type="checkbox" [checked]="wish.isComplete" (click)="toggleItem(wish)"> 
            {{wish.wishText}} - {{wish.description}} - {{wish.dueDate | date}} - {{wish.priority}} - {{wish.status}}
          </label>
        </div>
        <button (click)="editWish(wish)">Edit</button>
        <button (click)="deleteWish(wish)">Delete</button>
      </li>
    </ul>
  </ng-template>
</div>
