<div class="container">
  <add-wish-form (addWish)="addWish($event)"></add-wish-form>

  <div class="row mt-3">
    <wish-filter (filter)="setFilter($event)"></wish-filter>
  </div>

  <div class="row mt-3">
    <button (click)="exportToCSV()">Export to CSV</button>
  </div>

  <div class="row mt-3">
    <ng-container *ngIf="(items$ | async) as items">
      <wish-list [wishes]="items"></wish-list>
    </ng-container>
    <div *ngIf="!(items$ | async)">
      Loading or no items available
    </div>
  </div>

  <div class="row mt-3">
    <history-log></history-log>
  </div>
</div>